.container{
	margin: 0 auto;
	
	
	@media (min-width:$largest-breakpoint){
		width:$largest-breakpoint;
	}
	
	/*@media (min-width: 55em){
		width:55em;	
	}*/
}

.col-container{
	@include clearfix;
}
.col{
	margin-top:1em;
	padding-top:1em;
	
	min-height:200px;
	&:first-child{  }
	
	@media (min-width:$largest-breakpoint){
		float:left;	
		margin-top:1em;
		
		border:none;
	}
}

.col-1{ background:purple; width:100%; }

.col-2{
	background:orange;
	@media (min-width:$largest-breakpoint){
		width:46%;
		margin-left:4%;
		&:first-child{ margin-left:0; }
	}
}

.col-3{
	background:blue;
	@media (min-width:$largest-breakpoint){
		width:30%;
		margin-left:5%;
		margin-bottom:8%;
		&:first-child{ margin-left:0; }
	}
}

.col-left{
	background:red;
	@media (min-width:$largest-breakpoint){
		width:65%;
		margin-left:4%;
		&:first-child{ margin-left:0; }
	}
}

.col-right{
	background:yellow;
	@media (min-width:$largest-breakpoint){
		width:30%;
		margin-left:5%;

		
	}

}

.ftr-ios{
	background:black;
	@media (min-width:$largest-breakpoint){
		width:50%;
		margin-left:0;	
	}
}

.ftr-daily-digg{
	background:grey;
	@media (min-width:$largest-breakpoint){
		width:25%;
		margin-left:0;	
	}
}

